.description__new-cell {
  font-size: 24px;
  line-height: 32px;
  padding-left: 39px;
  font-weight: 700;
}

.description__cell {
  text-decoration-line: line-through;
  color: #D9D9D9;
}

.description__price {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
